@model WebAppMVC.Application.ViewModel.Item.AlcoholIngredientsForListVM

@{
    ViewData["Title"] = "EditAlcoholIngredient";
}

<h1>Edit Alcohol Ingredient</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAlcoholIngredient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlcoholRef" class="control-label"></label>
                <input asp-for="AlcoholRef" class="form-control" />
                <span asp-validation-for="AlcoholRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholIngredientsId" class="control-label"></label>
                <input asp-for="AlcoholIngredientsId" class="form-control" />
                <span asp-validation-for="AlcoholIngredientsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPiece" class="control-label"></label>
                <input asp-for="NumberOfPiece" class="form-control" />
                <span asp-validation-for="NumberOfPiece" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfLiters" class="control-label"></label>
                <input asp-for="NumberOfLiters" class="form-control" />
                <span asp-validation-for="NumberOfLiters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
