@model WebAppMVC.Application.ViewModel.Customer.CustomerContactInformactionForListVm

@{
    ViewData["Title"] = "EditCustContactDetails";
}

<h1>EditCustContactDetails</h1>

<h4>CustomerContactInformactionForListVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustContactDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="text" asp-for="Id" name="id" id="id" />
            <input type="submit" value="Wyszukaj" />
            <div class="form-group">
                <input type="hidden" asp-for="Id"/>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastNameUser" class="control-label"></label>
                <input asp-for="LastNameUser" class="form-control" />
                <span asp-validation-for="LastNameUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectPersonAddressEmail" class="control-label"></label>
                <input asp-for="DirectPersonAddressEmail" class="form-control" />
                <span asp-validation-for="DirectPersonAddressEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectPhoneNumber" class="control-label"></label>
                <input asp-for="DirectPhoneNumber" class="form-control" />
                <span asp-validation-for="DirectPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerRef" class="control-label"></label>
                <input asp-for="CustomerRef" class="form-control" />
                <span asp-validation-for="CustomerRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

