@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-center">
    <h4 class="display-4">This is alcohol app</h4>
    <p>This application is intended for alcohol fans. Here you can create, for example, your new wine, beer or drink. You will find out what ingredients it was made of and in what proportions. You can check what ingredients someone added to the same type of alcohol as you.</a>.</p>
</div>

<img src="~/css/alcohols.jpg" width="1300" height="900"/>