@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "SuperUserViews";
}

<h1>Hello Manager</h1>

<li class="nav-item">
    <a class="nav-link active" asp-controller="User" , asp-action="Index">View all users</a>
</li>

<li class="nav-item">
    <a class="nav-link active" asp-controller="Roles" , asp-action="Index">View all roles</a>
</li>

<li class="nav-item">
    <a class="nav-link active" asp-controller="Roles" , asp-action="CreateRole">Create new role</a>
</li>

<li class="nav-item">
    <a class="nav-link active" asp-controller="Home" , asp-action="Index">Back to home</a>
</li>