@using Microsoft.AspNetCore.Identity;
@using WebAppMVC.Domain.Models.Common;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min(1).css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebAppMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="Index">ViewAllAccounts</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alcohol operation</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" asp-action="GetAllAlcohols">Show alcohols</a>


                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="GetAllAlcohols">Show all alcohol</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="AddNewAlcohol">Add new alcohol</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="GetAllAlcoholIngredientByItem">Show all alcohol ingredients</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="AddNewAlcoholIngredient">Add new alcohol ingredients</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="GetAllCategory">Show all alcohol category</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="AddNewCategory">Add new alcohol category</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="GetAllIngredients">Show all ingredients</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="AddNewIngredients">Add new ingredients</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="GetAllType">Show all alcohol type</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="AddNewType">Add new alcohol type</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="GetAllTags">Show all alcohol tags</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Alcohol" , asp-action="AddNewTag">Add new alcohol tag</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Customer operation</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" , asp-action="Index">Show all customer</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" , asp-action="AddCustomer">Add new customer</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" , asp-action="AddCustomerContactInformaction">Add  new customer contact informaction</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" , asp-action="GetAllContactCustoInf">Show all contacts customer informaction</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" , asp-action="AddNewAddressForCustomer">Add new address for customer</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Customer" , asp-action="GetAddressCustomerDetails">Show address customer details</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Alcohol helper</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-controller="AlcoholHelper" asp-action="GetProposalAlcohol">Proposal alcohol</a>
                                <a class="dropdown-item" asp-area="" asp-controller="AlcoholHelper" asp-action="HelpCreateNewWine">Helper to create new wine</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Role Access
                            </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="nav-item">
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="UserViews">User</a>
                                </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="SuperUserViews">Super User</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="AdminViews">Admin</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebAppMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>